@mixin gradient($from, $to) {
  background: -webkit-linear-gradient(top, $from, $to);
  background: -moz-linear-gradient(top, $from, $to);
  background: -ms-linear-gradient(top, $from, $to);
  background: -o-linear-gradient(top, $from, $to);
}

@mixin dashboard {
  $default-border: 1px solid #ccc;
  $small-space: 10px;
  $medium-space: 20px;
  $background-color: #eee;
  $foreground-color: #fff;
  $alternate-foreground-color: rgba(0, 0, 0, 0.04);
  $default-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
  $text-shadow: 0 1px 1px #000;

  &.v-app {
    background: $background-color;
  }

  .v-label-h1,
  .v-label-h2 {
    color: #666;
  }

  input.v-textfield-focus,
  textarea.v-textarea-focus {
    background: $foreground-color;
  }

  .root-layout {
    display: block;
    max-width: 700px;
    border-radius: 6px;
    background: $foreground-color;
    box-shadow: $default-shadow;
    margin-left: auto;
    margin-right: auto;
    margin-top: $medium-space;
    margin-bottom: $medium-space;

    .header-layout {
      @include gradient(#5d6167, #393939);
      width: 100%;
      border-bottom: $default-border;
      padding-left: $medium-space;
      margin-bottom: $small-space;

      .logo-label {
        color: $foreground-color;
        font-size: 16px;
        font-weight: bold;
        text-shadow: $text-shadow;
      }
    }
  }

  .inline-layout {
    background: $alternate-foreground-color;

    border-top: $default-border;
    border-bottom: $default-border;
    padding: $small-space $medium-space;

    .error {
      display: block;
    }

    .contract-id-field.tokenfield {
      .v-filterselect.v-filterselect-prompt,
      .v-filterselect.v-filterselect-focus,
      .v-filterselect-input,
      .v-filterselect-input:focus {
        width: 100% !important;
        background: #fff;
      }
      .v-button-link,
      .v-button-link:focus {
        background-color: rgb(0, 162, 216);
        max-width: 100% !important;
        margin-top: 2px !important;
        height: 22px !important;
      }

      .v-button-link:hover {
        background-color: #ff7e79;
      }
    }
  }

  .status-grid {
    .v-progressbar-wrapper {
      background: #dfe2e4;
    }
    .v-progressbar-indicator {
      background-color: lightblue;
    }
    .v-progressbar.warning .v-progressbar-indicator {
      background-color: #ff7e79;
      border-color: #99312e;
    }
  }

  .dashboard-view {
    .v-textfield.dashboard-name-editor {
      font-size: 24px;
      color: #666;
      margin-left: $medium-space;
      font-weight: bold;
      border: none;
      background: transparent;
      padding: 0;
    }

    .header {
      width: 100%;
      padding: $small-space $medium-space;
    }

    .projects-layout {
      padding: $medium-space;

      .project-status-layout {
        position: relative;
        margin-bottom: $small-space;
        background: $foreground-color;
        padding-left: 80px;
        padding-right: $small-space;
        padding-bottom: $small-space;
        background-repeat: no-repeat;
        background-position: 6px center;

        &.ok {
          background-image: url(img/ok.png);
        }

        &.warning {
          background-image: url(img/warning.png);
        }

        &.problem {
          background-image: url(img/problem.png);
        }

        .delete-button {
          position: absolute;
          top: 6px;
          right: 6px;
          height: 16px;
          width: 16px;
          background: transparent url(img/close.png);
          text-indent: -100px;
          overflow: hidden;
          border: none;
          visibility: hidden;
        }

        &:hover .delete-button {
          visibility: visible;
        }

        .project-name {
          border: none;
          background: transparent;
          font-size: 24px;
          padding: 0;
          font-weight: bold;
          color: #666;
          margin: 0;
          margin-bottom: $small-space;
        }
      }
    }
  }

  .details-view {

    .header {
      width: 100%;
      padding: $small-space $medium-space;
    }

    .wrapper {
      margin: $medium-space;
      margin-top: 0;
    }

    .status-grid {
      background: $foreground-color;
      padding: $small-space;
      border: $default-border;
    }

    .contribution-chart {
      background: $foreground-color;
      padding: $small-space;
      border: $default-border;
    }

    .daily-effort {
      border: $default-border;

      &:focus {
        outline: none;
      }
    }

    .notes-layout {
      .note-content {
        border: $default-border;
        padding: $small-space;
        color: #444;

        h1 {
          font-size: 16px;
        }
        h2 {
          font-size: 14px;
        }
        h3 {
          font-size: 12px;
        }
        h4, h5, h6 {
          font-size: 12px;
          font-style: italic;
        }

        &:hover {
          background: rgba(254, 254, 214, 0.1);
          cursor: pointer;
        }
      }
    }
  }
}
